body{
    padding: 0;
    margin: 0;
    font-family: "Nunito","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    height: auto;

}

html,body{
    overflow-x: hidden;
}

header{
    width: 100%;
}

.header-top-half{
    width: 100%;
    background: #451400;
    box-sizing: border-box;   
}

.header-top-half-inner{
    padding: 25px 0 22px;
    text-align: center;
    min-height: 60px;
    width: 100%;
    box-sizing: border-box;
}
.header-top-half-heading-h2{
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #fff;
    margin: 0;
}
.header-top-half-flex-container{
    display: inline-flex;
}

.header-top-half-drop-down-arrow{
    background-color: #632d17;
    border-radius: 50%;
    border: 1px solid #632d17;
    cursor: pointer;
    display: inline-block;
    height: 31px;
    width: 31px;
    margin-left: 20px;
    outline: 0;
}
.header-bottom-half{
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
    border-bottom: .85px solid #d4cbc7;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: sticky;
   
}

.header-bottom-half-left-container{
    align-items: center;
    display: flex;
  
}

.ham-burger-icon{
    width: 25px;
    height: 25px;

}

.chipotle-logo{
    height: 50px;
    margin-left: 12px;
}

.header-bottom-half-right-container{
    align-items: center;   
    display: flex;
}

.header-bottom-half-right-img-link{
    display: inline-flex;
    padding: 0px 15px 5px 0px;
    width: 165px;
    text-decoration: none;
    background-color: #451400;
    height: 36px;
    align-items: center;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: 1.15px;
    line-height: 1;

}

.header-bottom-half-right-middle-bar{
    background: #fff;
    width: 1px;
    height: 20px;
    margin-right: 7px;

}
.header-bottom-half-right-img{
    height: 26px;
    margin-right: 3px;
}

/* cotnainer 1: rewards */
.c1{
    width: 100%;
   
}

.c1-inner{
    padding: 0 15px;
    box-sizing: border-box;
    width: 100%;
    height: 401px;
    background: url("../img/Home-Page-Hero.jpg") center center no-repeat;
    background-size: cover;
}

.c1-button-container{
    box-sizing: border-box;
    height: 58px;
    text-align: center;
    width: 100%;
    align-items: center;
    display: flex;
    line-height: 20px;
    padding-top: 324px;
    
}

.c1-button-left{
    width: 50%;
    background: #ad2118;
    padding: 19px 21px;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    box-sizing: border-box;

}

.c1-button-right{
    box-sizing: border-box;
    width: 50%;
    color: #fff;
    height: 58px;
    font-weight: 600;
    background: #88120a;
    padding: 20px; 
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.c1-button-right-arrow{
    display: inline;
}

/* container 2: what should i eat  */
.c2{
    width: 100%;
    padding: 36px 15px;
    box-sizing: border-box;
    background: url("../img/background-image-what-should-i-eat.png") no-repeat;
    height: 148px;
    border-bottom: 1px solid #d4cbc7;
    font: bold 1.5rem "Trade Gothic LT","Helvetica Neue",Arial,sans-serif;
    line-height: .94;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.c2-text{
    color: #451400;
    display: inline-block;
    margin: 0 0 10px;
}

.c2-text-border{
    border-bottom: 1px solid #000;

}

.c2-option{
    color: #b68207;
    margin: 0;  
}

/* container 3: menu */
.c3{
    width: 100%; 
    
}

.c3-flex{
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;
}

.menu-component{
    border: 1px solid #debf79;
    color: #451400;
    width: 100%;
    margin: 0 0 30px;
}

.c3-text-container{
    padding: 15px;
    box-sizing: border-box;
}

.c3-heading-h6{
   
    text-transform: uppercase;
    line-height: 1;
    font-size: 1.5rem;
    margin-top: 7px;
    margin: 0 0  16px;
}
.c3-text{
    font-size: .8125rem;
    margin: 0 0 16px;
}
.c3-link-container{
    background: #451400;
    width: 100%;
    height: auto;
    text-align: center;
    padding: .5rem 1rem;
    box-sizing: border-box;

}
.c3-link{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;   
    line-height: 20px;
    font-weight: 600;
  
}
/* container 4: guacumole fo real */
.c4{
    width: 100%;
}

.c4-inner{
    padding: 0 30px 30px;;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color: #451400;
    
}
.c4-img-top{
    height: auto;
    max-height: 204px;
    padding: 20px 0 0;
    box-sizing: border-box;
}
.c4-heading-h1{
    font-weight: 500;
    line-height: 1;
  
    text-transform: uppercase;
    margin: 0;
}

.c4-img-bottom{
    width: 202px;
    height: auto;
}

.c4-text-block{
    width: 100%;
    line-height: 1.33;
}

.c4-bold-text{
    display: block;
    margin: 16px 0 0;
}
.c4-checkout-container{
    width: 100%;
    padding: 20px 20px 32px;
    box-sizing: border-box;
}

.c4-link{
    text-decoration: none;
    display: block;
    width: 100%;
    padding: .7rem 30px;
    color: #451400;
    box-sizing: border-box;
    border: 2px solid #1b0800;
    text-transform: uppercase;
    font-weight: 600;
}